<div class="container mt-5 h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="../../../assets/SMLOGO.jpg" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" formControlName="email" class="form-control input_user" 
                            [attr.placeholder]="'Email' | translate" >
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" formControlName="password" class="form-control input_pass"
                            [attr.placeholder]="'Password' | translate">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input " id="customControlInline" formControlName="remember">
                            <label class="custom-control-label color-pink" for="customControlInline" >Remember me</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn">Login</button>
                      </div>
                      <div class="d-flex justify-content-center mt-3 login_container">
                        <div id="my-signin2"></div>
                      </div>

                    </form>
            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <span class="color-pink">Don't have an account?</span> <a routerLink="/register"  class="ml-2 text-white">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links color-pink">
                    <a href="#" class="text-white">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>