<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Spam Music</h3>
        <strong>SM</strong>
    </div>

    <ul class="list-unstyled components">
        <li *ngFor="let item of menuItems">
            <ng-container *ngIf="item.url === 'parent' ; else noSubItems">
                <a [href]="'#'+item.title+'submenu' | lowercase" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i [class]="item.icon"></i>
                    {{ item.title | translate}}
                </a>
                <ul class="collapse list-unstyled" [attr.id]="item.title+'submenu' | lowercase">
                    <li *ngFor="let subItem of item.subMenu">
                        <a [routerLink]="subItem.url" routerLinkActive="active">{{subItem.title | translate}}</a>
                    </li>
                </ul>    
                </ng-container>
            <ng-template #noSubItems>
                <a [routerLink]="item.url"  routerLinkActive="active">
                    <i [class]="item.icon"></i>
                    {{ item.title | translate}}
                </a>
            </ng-template>
        </li>
    </ul>
</nav>